<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-searchbar color="primary" placeholder="enter topic" [(ngModel)]="topicValue" [formControl]="topicControl" value=""></ion-searchbar>
    </ion-title>
    <ion-buttons end>
       <button ion-button icon-only (click)="startSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showAbout()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let topic of topics" (click)="showTopic(topic)" hidden>
    <span>{{topic.name}} | {{topic.books}}</span>
  </div>
  <ion-list>
    <div ion-item *ngFor="let book of books">
        <b>{{book.title}}</b><br/>
        Author:{{book.author.username}}<br/>
        topics:{{book.topics.join(";")}}<br/>
        <ion-buttons end>
          <button ion-button (click)="showDetails(book)">
            <ion-icon name="book"></ion-icon>DETAILS
          </button>
          <button ion-button (click)="read(book)">
            <ion-icon name="open"></ion-icon>READ
          </button>
        </ion-buttons>
    </div>
  </ion-list>
</ion-content>
