<ion-header>
  <ion-navbar>
    <ion-title>
      EXPLORER
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showAbout()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar animated="true" placeholder="enter topic" 
      [(ngModel)]="topicValue" (ionInput)="onSearchInput($event)" (ionCancel)="onSearchCancel($event)" debounce="2000"></ion-searchbar>

  <button ion-button menuToggle icon-only>
    <ion-icon name='menu'></ion-icon>
  </button>
  
  <!--ion-label>Type:</ion-label>
  <ion-select [(ngModel)]="type">
    <ion-option value="authors">Authors</ion-option>
    <ion-option value="books">Books</ion-option>
  </ion-select>
  <ion-label>Sorted:</ion-label>
  <ion-select [(ngModel)]="sort">
    <ion-option value="updated">Updated</ion-option>
    <ion-option value="stars" hidden="type == author">Most Stars</ion-option>
    <ion-option value="default">Best Match</ion-option>
  </ion-select-->

  <div *ngFor="let topic of topics" (click)="showTopic(topic)" hidden>
    <span>{{topic.name}} | {{topic.books}}</span>
  </div>
  <ion-list>
    <div ion-item *ngFor="let book of books">
        <b>{{book.title}}</b><br/>
        Author:{{book.author.username}}<br/>
        Tags:{{book.topics.join(";")}}<br/>
        <ion-buttons end>
          <button ion-button (click)="showDetails(book)">
            DETAILS
          </button>
          <button ion-button (click)="read(book)">
            READ
          </button>
  
        </ion-buttons>
    </div>
  </ion-list>
</ion-content>
<!--ion-footer>
    <button ion-button large outline>
      Pre Page
    </button>
    <ion-label large>{{page}}/{{pages}}</ion-label>
    <button ion-button large outline>
     Next Page
    </button>
</ion-footer-->